 body {
        background-image: url("hr.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        /* overflow: hidden; */
        /* overflow: hidden; */
    }

    * {
        margin: 0;
        padding: 0;
        position: relative;
        font-family: 'Nunito', sans-serif;
    }

    header {
        width: 100%;
        text-align: center;
    }

    header img {
        width: 25%;
        height: 25%;
        display: block;
        margin: 0 auto;
    }

    /* Section styles */

    section {
        width: 100%;
        min-height: 50vh;
        position: relative;
        /* margin-top:1%; */
    }

    /* Courses styles */

    .coarses {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    input {
        width: 212px;
        background: transparent;
        color: white;
        border: none;
        border-bottom: 1px solid gold;
        margin-bottom: 19px;
    }

    input:focus {
        outline: none;
    }

    .cards {
        margin: 20px;
        display: block;
        width: 380px;
        height: 250px;
        position: relative;
    }

    .responsive {
        max-width: 100%;
        height: auto;
    }

    .cards img {
        width: 100%;
        height: 100%;
    }

    .logo {
        color: white;
        z-index: 0.5;
        text-align: center;
        font-size: 25px;
        padding-top: 50px;
    }

    .cards {
        margin-left: 70px;
        display: block;
        width: 400px;
        height: 255px;
        position: relative;
        z-index: 0;
    }

    .cards img {
        width: 100%;
        height: auto;
    }

    .locked {
        position: absolute;
        top: 35%;
        left: 39%;
    }

    .locked img {
        width: 59px;
        height: 93px;
    }

    .login {
        position: fixed;
        top: 10%;
        left: 40%;
        z-index: 2;
        width: 35%;
    }

    .login img {
        position: relative;
        width: 50%;
        height: 35%;
        z-index: 2;
    }

    button:hover {
        cursor: pointer;
    }

    .forms {
        width: 25%;
        padding-bottom: 5px;
        position: absolute;
        top: 61.5%;
        z-index: 3;
        left: 17%;
    }

    .img {
        max-width: 100%;
        height: auto;
    }

    #submitter {
        width: 201px;
        margin-left: -9px;
        /* margin-top: 15px; */
    }

    @media screen and (max-width: 3022px) {
        .login {
            position: fixed;
            top: 8%;
            left: 39%;
            z-index: 2;
            width: 49%;
        }
    }

    @media screen and (max-width: 2022px) {
        .login {
            position: fixed;
            top: 10%;
            left: 36%;
            z-index: 2;
            width: 61%;
        }
        input {
            margin-bottom: 8%;
        }
    }

    @media screen and (max-width: 1441px) {
        .login {
            position: fixed;
            top: 10%;
            left: 34%;
            z-index: 2;
            width: 70%;
        }
        .forms {
            width: 25%;
            padding-bottom: 5px;
            position: absolute;
            top: 61.5%;
            z-index: 3;
            left: 17%;
        }
        #submitter {
            width: 87%;
            margin-left: -64px;
            /* margin-top: 15px; */
        }
        input {
            width: 80%;
            margin-bottom: 6%;
        }
    }

    @media screen and (max-width: 1110px) {
        /* Courses styles */
        .coarses {
            width: 100%;
        }
        .cards {
            margin: 20px;
            width: 400px;
            height: 250px;
        }
        .login img {
            left: -10%;
            width: 70%;
            height: 100%;
            /* margin-bottom: 12px; */
        }
        .login {
            position: fixed;
            top: 10%;
            left: 35%;
            width: 63%;
            z-index: 2;
        }
        #submitter {
            margin-left: 6%;
            /* margin-top: 15%; */
        }
        .forms {
            left: 13%;
            top: 61%;
        }
        input {
            margin-bottom: 11%;
            width: 120%;
        }
    }

    @media screen and (max-width: 992px) {
        section {
            margin: auto;
        }
        .coarses {
            width: 100%;
        }
        iframe {
            height: 380px;
        }
        .login {
            top: 9%;
            left: 28%;
            width: 69%;
        }
        .login img {
            left: -10%;
            width: 90%;
            height: 100%;
        }
        .forms {
            left: 22%;
            top: 62%;
        }
        #submitter {
            margin-left: 12%;
            /* margin-top: 15%; */
            width: 111%;
        }
    }

    @media screen and (max-width: 768px) {
        /* Courses styles */
        .coarses {
            width: 100%;
        }
        .cards {
            margin: 20px;
            width: 350px;
            height: 250px;
        }
        .login img {
            left: -12%;
            width: 94%;
            height: 100%;
        }
        /* input{ */
        /* margin-bottom: 10px; */
        /* } */
        /* iframe{
    height: ;
  } */
        #submitter {
            width: 117%;
            margin-left: 7%;
        }
    }

    /* CSS for mobile phones */

    @media screen and (max-width: 630px) {
        .cards {
            margin: 20px;
            width: 400px;
            height: 250px;
        }
        /* .login{
  display: none;
 } */
        .again {
            width: 95%;
        }
        .again img {
            width: 100%;
        }
        .getcourse {
            width: 80%;
            padding-left: 28px;
        }
        .getcourse img {
            width: 100%;
        }
        input {
            margin-bottom: 16%;
            width: 153%;
        }
        .login img {
            left: -31%;
            height: 100%;
            width: 111%;
        }
        .login {
            top: 17%;
            left: 31%;
            width: 80%;
        }
        .forms {
            top: 61%;
            left: 9%;
        }
        iframe {
            margin-left: 0;
            height: 300px;
        }
        #submitter {
            width: 166%;
            margin-left: 15%;
        }
    }

    @media screen and (max-width: 480px) {
        header img {
            width: 40%;
            height: 40%;
            top: 5%;
        }
        #submitter {
            margin-left: 23%;
            margin-top: 5%;
        }
        section {
            min-height: 50vh;
        }
        .player {
            width: 90%;
        }
        .relax {
            display: none;
        }
        .coarses {
            width: 100%;
            margin: auto;
            justify-content: center;
        }
        .title {
            width: 100%;
        }
        .cards {
            margin: 7px 20px 20px;
            width: 80%;
            height: 200px;
        }
        .logo {
            font-size: 20px;
            padding-top: 30px;
        }
        .bott {
            margin-top: 15%;
            width: 80%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .again {
            width: 79%;
        }
        .again img {
            width: 100%;
        }
        .login {
            left: 29%;
            width: 91%;
            top: 19%;
        }
        input {
            margin-bottom: 17%;
        }
        iframe {
            /* padding: 4px;
    border: 2px solid rgb(177, 152, 13);
    width: 300px; */
            height: 200px;
        }
        .getcourse {
            margin: 0;
            padding: 0;
        }
    }

    @media screen and (max-width: 440px) {
        .locked {
            top: 30%;
        }
        .locked img {
            width: 50px;
            height: 65px;
        }
        input {
            margin-bottom: 10%;
            font-size: 12px;
            width: 158%;
        }
        .login {
            width: 95%;
            left: 27%;
        }
        .forms {
            top: 61%;
            left: 9%;
        }
        #submitter {
            width: 88px;
            width: 173px;
            height: 42px;
            margin-top: 5px;
            margin-left: 58px;
        }
    }

    @media screen and (max-width: 380px) {
        .forms {
            top: 60.5%;
        }
        input {
            margin-bottom: 10%;
            font-size: 10px;
        }
        #submitter {
            width: 120px;
            margin-top: 3%;
            height: 16%;
            margin-left: 29%;
        }
        .login {
            left: 27%;
            top: 22%;
            width: 90%;
        }
    }

    @media screen and (max-width: 292px) {
        section {
            min-height: 30vh;
        }
        .cards {
            margin: 59px 20px 20px;
            width: 100%;
            height: 115px;
        }
        iframe {
            height: 130px;
        }
        #submitter {
            width: 120px;
            margin-top: 3%;
            height: 16%;
            margin-left: 24%;
        }
        .login {
            top: 1%;
        }
        #submitter {
            width: 97px;
            margin-top: -3%;
            height: 16%;
            margin-left: 24%;
        }
        .forms {
            top: 58.5%;
        }

       
      
       }

        

    
    