* {
    padding: 0;
    margin: 0;
}

.container {
    width: 70%;
    height: 90vh;
    margin: auto;
    display: flex;
    padding-top: 100px;
}

iframe {
    width: 100%;
    height: 90%;
    border: 3px solid;
    border-image: linear-gradient(to bottom, #895824, #ffcb49) 1;
    border-radius: 5px;
}

@media screen and (max-width:1520px) {
    .container {
        width: 77%;
        height: 80vh;
        margin: auto;
        display: flex;
        padding-top: 100px;
    }
}

@media screen and (max-width:1024px) {
    .container {
        height: 46vh;
        width: 94%;
    }
}

@media screen and (max-width:780px) {
    .container {
        width: 95%;
        justify-content: start;
        padding-top: 50%;
        height: 135vh;
    }
    iframe {
        height: 30%;
        width: 128%;
    }
}

@media screen and (max-width:480px) {
    .container {
        width: 97%;
        height: 90vh;
    }
}